.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  margin-bottom: 8rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
}

.i-button {
  width: 12rem;
  height: 3rem;
}

.i-icons {
  margin-top: 1rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}

.i-icons > *:hover {
  cursor: pointer;
}

.i-right {
  display: flex;
  position: relative;
  flex: 1;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > *:nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}

.i-right > *:nth-child(2) {
  transform: scale(0.67);
  left: -3rem;
  top: -4.6rem;
}

/* main image positon */

.i-right > *:nth-child(3) {
  transform: scale(1.4);
  left: 35%;
  top: 35%;
}
.i-right > *:nth-child(4) {
  transform: scale(0.6);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}

.icon1 {
  top: -4%;
  left: 68%;
}

.icon2 {
  top: 18rem;
  left: 0rem;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -18%;
  left: 56%;
}

/* lasrge start */

@media screen and (min-width: 1200px) {
  .i-right > *:nth-child(4) {
    transform: scale(0.6);
    top: -10%;

    border-radius: 50%;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .i-right {
    transform: scale(0.7);
  }
  .intro {
    margin-top: 5rem;
  }

  .i-right {
    margin-top: -20px;
  }

  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 2.5rem;
  }

  .i-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .i-name > :nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 12px;
    margin-top: 10px;
  }

  .i-right .blur {
    display: none;
  }

  .icon1 {
    top: -15%;
    left: 68%;
  }

  .icon2 {
    top: 18rem;
    left: 10rem;
  }

  .i-right {
    width: 100%;
    margin: 0px -50px;
  }

  .i-right > :nth-child(3) {
    width: 100%;
    margin: 0px 79px;
  }

  .i-right > *:nth-child(4) {
    transform: scale(0.6);
    top: -18%;
    left: -45%;
    border-radius: 50%;
    padding: 0;
  }
}

/* lasrge end */

/* med start */
@media screen and (max-width: 992px) {
  .i-right {
    transform: scale(0.6);
  }

  .intro {
    margin-top: 5rem;
  }

  .i-right {
    margin-top: -20px;
  }
  .i-right > *:nth-child(1) {
    transform: scale(0.7);
    left: -15%;
    top: -20%;
  }

  .i-right > *:nth-child(2) {
    transform: scale(0.7);
    left: -3rem;
    top: -10rem;
  }

  /* main image positon */

  .i-right > *:nth-child(3) {
    transform: scale(1.6);
    left: 25%;
    top: 12%;
  }

  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 2.1rem;
  }

  .i-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 2.1rem;
    font-weight: bold;
  }

  .i-name > :nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 12px;
    margin-top: 10px;
  }

  .i-right .blur {
    display: none;
  }

  .icon1 {
    top: -15%;
    left: 68%;
  }

  .icon2 {
    top: 18rem;
    left: 10rem;
  }

  .i-right {
    width: 100%;
    margin: 0px -50px;
  }

  .i-right > :nth-child(3) {
    width: 100%;
    margin: 0px 79px;
  }

  .i-right > *:nth-child(4) {
    transform: scale(0.6);
    top: -18%;
    left: -45%;
    border-radius: 50%;
    padding: 0;
  }
}

/* med end */

@media screen and (max-width: 768px) {
  .intro {
    display: flex;

    flex-direction: column;
    align-items: center;

    height: 60rem;
  }

  .i-right {
    transform: scale(0.7);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }

  .icon1 {
    top: -15%;
    left: 68%;
  }

  .icon2 {
    top: 18rem;
    left: 10rem;
  }

  .i-right {
    width: 100%;
    margin: 0px -50px;
  }

  .i-right > :nth-child(3) {
    width: 100%;
    margin: 0px 82px;
  }

  .i-right > *:nth-child(4) {
    transform: scale(0.6);
    top: -18%;
    left: -45%;
    border-radius: 50%;
    padding: 0;
  }
  .i-button {
    width: 11rem;
    height: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    display: flex;

    flex-direction: column;

    margin-left: -2rem;

    height: 60rem;
  }
  .i-right > *:nth-child(3) {
    left: 40%;
    top: 23%;
  }

  .i-right {
    transform: scale(0.7);
    left: -3rem;
  }

  .i-right .blur {
    display: none;
  }

  .icon1 {
    top: -15%;
    left: 68%;
  }

  .icon2 {
    top: 18rem;
    left: 10rem;
  }

  .i-right {
    width: 100%;
    margin: 0px -50px;
  }

  .i-right > :nth-child(3) {
    width: 100%;
    margin: 0px 82px;
  }

  .i-right > *:nth-child(4) {
    transform: scale(0.6);
    top: -18%;
    left: -45%;
    border-radius: 50%;
    padding: 0;
  }
  .i-button {
    width: 11rem;
    height: 3rem;
  }
}
